<%= form_with model: @post do |f| %>
    <div>
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :body, 'Body' %>
        <%= f.text_area :body %>
    </div>

    <% f.text_field :user_id, value: current_user.id %>

    <%= f.submit %>
<% end %>